# Email Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-username
SMTP_PASS=your-smtp-password
SMTP_FROM_EMAIL=noreply@langaevents.com
SMTP_FROM_NAME=Langa Events
SMTP_TO_EMAIL=info@langaevents.com
SMTP_REJECT_UNAUTHORIZED=true
